body {
  background: #facfad;
  font-family: Lato;
  color:#000000;
}

#restaurantsList {
  position: relative; 
}

.restaurantCard {
  width: 170px;
  margin: 10px;
  background: linear-gradient(to bottom right, #f35516, #67a4f3);
  border: 1px solid #0732c0;
  color: #fff;
  font-size: 13px;
  cursor: pointer;
}

.veto::before {
  background: red;
  position: absolute;
  display:block;
  content:'';
  width: 179%;
  height: 5%;
  top: 48%;
  left: -40%;
  transform: rotate(60deg);
}

.veto::after {
  background: red;
  position: absolute;
  display:block;
  content:'';
  width: 8%;
  height: 110%;
  left: 45%;
  top: -5%;
  transform: rotate(30deg);
}

.restaurantName {
  font-size: 15px;
  font-weight: bold;
}

.restaurantCard span {
  text-decoration: underline;
}

/*.flex-child {
  white-space: nowrap;
  overflow: hidden; 
  text-overflow: ellipsis;
}*/
